@model WebApplication7.ViewModels.HomePageModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    <div class="row">
        <partial name="_SumInforamtionIndex" model="@Model.IndexInformation" />
    </div>

    <form class="form-outline mb-3" asp-controller="Customer" asp-action="CustomerProfile">
        <label asp-for="Id" class="bmd-label-floating">Search for customer number</label>
        <input asp-for="Id" class="form-control">
        <span asp-validation-for="Id" class="field-validation-error"></span>
    </form>

    <partial name="_CountryInfoChart" model="@Model.CountryInformation" />
</div>