@model WebApplication7.ViewModels.HomePageModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    <div class="row">

        <partial name="_SumInforamtionIndex" model="@Model.IndexInformation" />
    </div>

    <form class="form-outline" asp-controller="Customer" asp-action="CustomerProfile">
        <input name="id" class="form-control text-center text-primary" placeholder="Search customer number..."
               aria-label="Search" />
    </form>
</div>