@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model WebApplication7.ViewModels.AdminEditUserViewModel

@{
    ViewData["Title"] = "Edit System User";
}

<div class="card">
    <div class="card-header card-header-success">
        <h3>Edit System User</h3>
    </div>
    <div class="card-body">
        <form method="post" asp-action="EditUser">
            <div class="row mt-4">

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="UserName" class="bmd-label-floating">User Name</label>
                        <input asp-for="UserName" class="form-control">
                        <span asp-validation-for="UserName" class="field-validation-error"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email" class="bmd-label-floating">Email</label>
                        <input asp-for="Email" class="form-control">
                        <span asp-validation-for="Email" class="field-validation-error"></span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary pull-right">Save</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>