@model WebApplication7.ViewModels.CustomerListTransactionsForCustomerViewModel

<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary mb-3">
            <h4 class="card-title ">Account Id - @Model.AccountId</h4>
        </div>
    </div>
</div>
<div class="card pt-3">
    <div class="card-header card-header-primary">
        <h4 class="card-title ">Transactions</h4>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead class="text-primary">
                <tr>
                    <th>Transaction Id</th>
                    <th>Amount</th>
                    <th>Balance</th>
                    <th>To account</th>
                    <th>Bank</th>
                    <th>Operation</th>
                    <th>Symbol</th>
                    <th>Transaction Date</th>
                </tr>
            </thead>
            <tbody id="transactions">
                @foreach (var i in Model.CustomerTransactions)
                {
                    <partial name="_TransactionRows" model="@i" />
                }
            </tbody>
        </table>
        <div class="card-footer">
            <button class="btn btn-primary" onclick="fetch20more(@Model.AccountId);">Load more...</button>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var skip = 0;

        function fetch20more(id) {
            skip = skip + 20;
            $.ajax({
                url: "/Customer/GetTransactions?id=" + id + "&skip=" + skip,
                success: function (result) {
                    $("#transactions").append(result);
                }
            });
        }
    </script>
}